[2017-04-26 10:45] superpig opened #1 "cache-loader VS happypack"
what's the difference between cache-loader and happypack?

[2017-04-26 17:23] Timer commented on #1
And the existing https://github.com/jsdf/cached-loader.

[2017-04-27 10:58] Tankpt commented on #1
Did it have some data test between cache-loader and happypack ? Or can I use both of them ?

[2017-04-27 19:21] gdborton commented on #1
I'm definitely not sokra, but one difference is that happypack is parallelized. This looks to be a much smaller configuration for easy perf wins.

Keep in mind that babel-loader (which is likely processing the most files in your code) has a built in cache as well.

[2017-04-28 13:16] evilebottnawi commented on #1
@gdborton `cache-loader` != `babel-loader` (cache). Why?

- `cache-loader` caching information which need to speedup webpack build (see https://github.com/webpack-contrib/cache-loader/blob/master/src/index.js#L25, including `transpile` code from `babel-loader`)
- `babel-loader` with cache only caching `transpile` code (https://github.com/babel/babel-loader/blob/master/src/index.js#L156)

What cont

[2017-04-29 15:06] svipben commented on #1
As I read about `happypack` the creator said:

Here is the thread: https://github.com/amireh/happypack/issues/144
And if you read their issues you will see there's more problems with webpack 2.

So I think better use `cache-loader` since it's from webpack creators and it will be maintained as well.

[2017-05-02 09:18] anilanar commented on #1
FYI, cache-loader decreased our build times from 100 seconds to 33 seconds @ trivago.

[2017-05-23 03:32] alexwalter88 opened #3 "feat: add cache invalidation"
This is a really great idea. However, there is an important issue that should be mentioned before anyone uses this in a production environment. At the very least there should be a big bold warning in the readme. Currently, this loader is assuming that the output of all affected loaders is going to remain the same forever for any given input. But updating packages from npm, or modifying options for

[2017-05-31 06:49] mikegreiling commented on #3
It looks like https://github.com/mzgoddard/hard-source-webpack-plugin is a good alternative with more options for fine-tuning cache invalidation.

[2017-06-02 15:57] kmontag opened #4 "feat: add cache invalidation (`options.?`)"
As pointed out in #3, it's important to be able to expire the cache for this loader when the build environment changes. We're currently doing this by naming the cache directory based on a hash of relevant file content (NPM shrinkwrap, webpack config, etc) - however, over time this means developers accumulate a bunch of old cache directories, which need to be cleaned up manually or in a separate bu

[2017-06-08 01:17] michael-ciniawsky commented on #1
That sums it up pretty well :)  Feel free to reopen if still any questions

[2017-06-08 01:17] #1 closed

[2017-06-08 05:51] michael-ciniawsky opened #8 "test: add tests"

[2017-06-08 11:20] evilebottnawi commented on #3
- `updating packages from npm`.
Agree, need search solution.
- `modifying options` - your get other digest for changed option for loader, we get `remainingRequest`, he look like
[code]
All options in `remainingRequest` string, so everything is fine.
- `from configuration files`
Agree, also need search solution.

[2017-06-08 12:12] evilebottnawi commented on #3
Unfortunately this reduces performance, only slow loader should be cached.

[2017-06-08 12:49] evilebottnawi commented on #4
@kmontag It is reduce performance, `eslint`, `stylelint`, `babel-loader` and etc don't removes old cache files, it is normal behavior

[2017-06-22 16:52] swernerx opened #10 "Question: cacheDirectory in babel-loader + cache-loader... does it makes sense (=> Doc)"
It would be great help if someone could figure out whether it's reasonable to combine the cache-loader with the cache feature of Babel. Whether to combine both or prefer one of them etc. I think that's also a pretty fundamental question the readme should answer - Thanks!

[2017-06-22 18:00] evilebottnawi commented on #10
@swernerx it is just example, your can use `cache-loader` with your `css-loader` (`style-loader` -> `cache-loader` -> `css-loader` -> `postcss-loader` -> etc)

[2017-06-23 08:15] donaldpipowitch commented on #1
Not sure why there is a "vs."? It looks like I can use them together and [get ~3s wins on re-runs](https://twitter.com/PipoPeperoni/status/878163253775523840). Or are there any caveats I don't know?

[2017-06-23 11:18] IgnusG commented on #1
@donaldpipowitch Well as far as I know they both do the same thing = caching of built files. The main difference would be happy adds parallel compilation support to webpack, but to be honest I never noticed a difference on my other cores while running it. In a test bench I did for my project it even took longer for the initial build to complete.

I'm not sure using both of them is wise as they mig

[2017-07-05 16:34] briandipalma commented on #10
Just test it by adding and removing `cache-loader`, I'm not seeing any real difference in performance so my guess is that the babel cache performs as well as using `cache-loader`.

[2017-07-10 07:23] tarjei opened #11 "cache-loader vs hard-source-webpack-plugin"
Hi, what are the differences between this loader and the hard-source-webpack-plugin?

Also, will the cacheloader speed up paralell webpacks? I'm running webpack-dev-server and karma-webpack at the same time and am looking for something that can help speed up the two.

Regards,
Tarjei

[2017-07-25 15:21] peteruithoven opened #12 "Phrasing "in front of" confusing?"
The cache-loader readme mentions that the cache-loader needs to be added in front of other loaders:

I find the phrasing "in front of" confusing, since the loaders are used right from left / last to first ([use docs](https://webpack.js.org/configuration/module/#rule-use)). So Looking at the code examples they should be used last, but added in front of the use configuration?

[2017-08-08 12:59] bazyli-brzoska commented on #11
You can use both, since generally you don't need to invalidate cache-loader as often as HardSource. The first one only when your loaders configuration or version changes, the second one you need to invalidate with any change of Webpack's config.

[2017-08-09 10:14] SnowFlowers opened #13 ".cache-loader file make mistake"
i use git for my project . when i checkout one branch to another. it got error in my npm start. but when i  deleted this file, i restarted successfully.  what can i do?

[2017-08-09 10:32] evilebottnawi commented on #13
@SnowFlowers What error do you get?

[2017-08-28 14:25] #3 closed

[2017-08-28 14:35] sokra commented on #4
done

[2017-08-28 14:35] #4 closed

[2017-09-01 13:57] kfeinUI opened #14 "Less output not getting updated"
**cache-loader version:** 1.0.3

**Relevant rule:**
[code]

Just added cache-loader and am finding that the output of my project less files doesn't get updated. Ran into it on multiple machines. No errors reported. It must not be invalidating the cache appropriately in this case. Works fine with JS and TS.

[2017-09-01 16:02] evilebottnawi commented on #14
@kfeinUI can your provide minimum reproducible test repo, maybe problem in `less-loader`

[2017-09-02 00:35] michael-ciniawsky commented on #14
Could you try without `extract-text-webpack-plugin` aswell please

[2017-09-06 04:44] xxssww0258 opened #17 "cache-loader causes imagemin-webpack-plugin to not generate the images"
[code]

[code]

No picture

[2017-09-06 10:15] evilebottnawi commented on #17
@xxssww0258 can your provide minimum test repo? But seems problems in `imagemin-webpack-plugin`, not in `cache-loader`

[2017-09-06 18:13] jooddang opened #18 "cache files are randomly corrupted"
Hi,
I'm using cache-loader v1.0.3, and I love it for it saves a lot of webpack build time. (~1min)
The problem is that coworkers randomly experience build error of `Empty files`. It happens from our build machines a lot randomly, so we stopped using it recently. Can you find the root cause of it? Stack trace is as below:
[code]

[2017-09-06 18:19] evilebottnawi commented on #18
@jooddang can you create minimum reproducible test repo? Thanks!

[2017-09-06 19:10] jooddang commented on #18
@evilebottnawi This is kinda bare minimum repo.
https://github.com/jooddang/cache-loader-test
The real repo is much more complex than this, but I guess this is what you would need for investigation.

[2017-09-08 02:33] xxssww0258 commented on #17
[testRepo](https://github.com/xxssww0258/webpack-all-purpose/blob/react/webpack/webpack_base.js#L59)

I found it wasn't imagemin-webpack-plugin's problem.
This should be my configuration error.

`npm run build`
[code]
delete /src/dist/**
Once again`npm run build`
[code]

Can't the add cache-loader to img?

[2017-09-08 10:32] evilebottnawi commented on #17
@xxssww0258 thanks, in near future i will investigate this, thanks!

[2017-09-11 09:54] sentience commented on #11
I'd recommend against using both cache-loader and hard-source-webpack-plugin together, since each one incurs a cost on the first (uncached) build to create its cache, and you'll be duplicating a lot of work maintaining two caches of the same thing.

Setting up hard-source-webpack-plugin is really easy for most configs; just drop in the plugin. cache-loader is slightly trickier to set up, since you

[2017-09-25 21:17] IAMtheIAM commented on #11
Hard source is slower intially for me by double but faster on rebuild by 2x-4x. Great. Same results as @sentience . Both are better than no cache!

[2017-10-18 16:51] jooddang commented on #18
Hi @evilebottnawi,
Can you take a look at this issue please?

[2017-10-18 17:43] evilebottnawi commented on #18
@jooddang sorry for long answer, tomorrow i do this

[2017-10-19 10:17] evilebottnawi commented on #18
@jooddang can't reproduce, which OS and node you use? Also i recommended upgrade `webpack` to 3 version

[2017-11-02 01:20] jooddang commented on #18
Thanks for the heads up. Yah, after upgrading to Webpack 3 that issue
disappeared. I think it's good to close this ticket. :)

Best,
EunKwang

On Thu, Oct 19, 2017 at 3:17 AM, Evilebot Tnawi <notifications@github.com>
wrote:

[2017-11-02 01:47] #18 closed

[2017-11-09 00:39] jooddang commented on #18
well, even after webpack is upgraded to v3, it sporadically happens, not reproducible on my machine tho (reported from co-workers).
Is there possibility that can make trouble when `webpack.watch()` runs concurrently with express server (for HMR)?

[2017-11-11 11:59] langri-sha opened #20 "Running multiple processes"
I would like to know whether there are any unintended consequences from using `cache-loader` from multiple processes writing into the same cache directory?

To give a bit of a background, I would like to create a manager for my project that would handle requests for building checked out project sources in parallel. At the moment, I am  constructing a strong hash from the environment for all the lo

[2017-11-13 10:20] evilebottnawi commented on #13
@SnowFlowers also you don't commit .cache-loader file

[2017-11-15 17:46] michael-ciniawsky commented on #10
They both serve the same purpose and are interchangeable, with `cache-loader` being the 'newer and official' way to cache a loader in general

[2017-11-15 17:46] #10 closed

[2017-11-15 17:47] #12 closed

[2017-11-15 17:47] michael-ciniawsky commented on #13
Feel free to reopen if still regressions :)

[2017-11-15 17:47] #13 closed

[2017-11-15 17:49] michael-ciniawsky commented on #14
Feel free to reopen if still regressions :)

[2017-11-15 17:49] #14 closed

[2017-11-15 17:53] michael-ciniawsky commented on #20
Did you have time to test this out ? :)

[2017-11-16 21:48] juanca commented on #20
I am using `happypack@4.0.0.` where all each of my loaders are split into 4 processes with their own `cache-loader`.

I haven't run into major issues.

There are some hiccups where the cache is stale and it is not being updated automatically (which, at the moment, my team fixes by blowing away all the cache) -- and I personally have not been able to reproduce, but it seems to be related with switc

[2017-11-27 11:41] Strate opened #26 "Cache warning and errors from loader"
There some loaders, (for example tslint-loader), which only emit wearnings or errors. It would be useful to cache and re-emit that stuff with cache-loader.

[2017-11-28 08:34] evilebottnawi commented on #26
@Strate thanks for issue, PR welcome :+1:

[2017-12-09 00:12] juanca opened #27 "SASS and `@import` dependencies not busting"
1. Version 1.2.0
2. I cannot seem to produce this on a vanilla project. I'm still trying though.
3. (My computer) Node version 6.11.4, OSX 10.12.6 -- this actually happens across many computers in my office, Sierra and High Sierra

---

Here's how I can reproduce this in my private repository:

I have a dependency chain (which is convoluted due to legacy reasons):

- `application.html.erb`
- `_int

[2017-12-09 01:23] juanca commented on #27
Here are some interesting things about my webpack configuration:

- `Happypack` @ 4 threads per loader
- `ExtractTextWebpackPlugin` for dev (to mimic prod)

[2017-12-09 01:42] michael-ciniawsky commented on #27
Does this also happen without `happypack` ? Could you share a reproducible  test repo for debugging ?

[2017-12-11 19:10] juanca commented on #27
I will remove `happypack` and report back. <sub>Might be a few days</sub>

[2017-12-15 23:41] juanca commented on #27
Oh, that was it. Webpack recompiles when I touch `app/assets/stylesheets/internal/base/shared.scss` now that I removed `happypack` completely.

I even tried setting the thread count to 1 but the bug still persisted.

I'll see if I can update my repro repo!

[2017-12-16 00:19] juanca commented on #27
Aw man, I can't really reproduce. :(

The private repo is a monolithic codebase so perhaps it's related to large number of files? Perhaps its the way we configured happypack? We use 8 different happypack loader/plugins.

[2017-12-30 20:43] langri-sha opened #28 "Use hashed directory structure"
Currently all outputs are retrieved from a single directory. For large projects and certain hardware this might have a negative impact on performances.

Something that might help with that would be to store outputs into subfolders that contain the first two letters of the hash.

[2018-01-02 09:53] tarjei commented on #11
Closing this. Thanks for great responses!

[2018-01-02 09:53] #11 closed

[2018-01-04 13:42] evilebottnawi commented on #28
@langri-sha PR welcome also benchmark result need

[2018-01-12 23:51] juanca opened #29 "Unable to be used in CI"
See original comment @
https://github.com/webpack-contrib/cache-loader/commit/070af07cd54c1fd7da4bed3449f1a65cdbc7103e#r26826081

Looks like there is some timestamp-fu that is not allowing the `.cache-loader/` folder to be cached across VMs.

[2018-01-13 00:00] juanca commented on #29
I think I'm understanding why it doesn't work in CI:

When a CI container pulls in the codebase, each of those files gets an up-to-date modified time (`mtime`).

However, the `.cache-loader` files have stored an `mtime` of the last build.

[2018-01-15 20:16] juanca commented on #29
I'm closing this issue since it looks like this is done by design. I would be open to improving the caching mechanism. Let me know if y'all are also open to that idea.

[2018-01-15 20:16] #29 closed

[2018-01-27 08:33] jochakovsky opened #30 "Hard to set custom cacheIdentifier that uses cache-loader version number"
The default value for `cacheIdentifier` is `cache-loader:{version} {process.env.NODE_ENV}`. My project has multiple webpack config files where the step that uses cache-loader gets the same input from previous loaders but performs different transformations (eg. Istanbul instrumentation for test builds only).

I like that the default string includes the cache-loader version number, since it makes se

[2018-02-12 16:26] stereokai commented on #11
Related: Please see a recent [comparison of HardSource with DllPlugin](https://github.com/mzgoddard/hard-source-webpack-plugin/issues/251#issuecomment-364943162) (I wrote it)

[2018-03-02 03:57] jimmyyao88 opened #33 "after delete .cache-loader folder all images return 404"
after delete .cache-loader folder all images return 404

[2018-03-02 09:30] evilebottnawi commented on #33
@jimmyyao88 you should run webpack build again after delete `.cache-loader`, also i don't recommedate do it manually

[2018-03-13 12:29] eranshapira commented on #29
The fact that I can't use this loader in my CI is very disappointing. I could be using that to decrease build time from 5m to 30secs...

[2018-03-21 15:41] jeron-diovis commented on #26
As I understand, for now, with cache-loader enabled and when there several files with linter errors, only warnings/errors from latest edited file are emitted. While normally results from all invalid files should be emitted.
Is it related to this issue?

[2018-03-21 15:46] jeron-diovis commented on #10
In my experience, with `cache-loader` rebuild time increased dramatically – from 2.5s to 9.5s. While initial build time decreased for ~40s.
Caching from `babel-loader` does not speed up initial build, but does not affect rebuild time.
So I use `cache-loader` for caching styles only, and `babel-loader` caching for js.

[2018-03-23 17:55] filmic commented on #30
You can read the version number from `package.json` file:
[code]
(alternatively use async method `fs.readJson` to get a `Promise`)

[2018-05-18 20:28] juanca commented on #27
I am unfortunately no longer using cache-loader (due to a different reason). Welcome to carry the torch or close this issue.

[2018-05-23 10:43] jdeniau opened #34 "Do not relly on file mtime"
npm 5.8+ set file mtime to October 1985 (See https://github.com/npm/npm/issues/20439 ), it's a feature for them, so the cache-loader does not work anymore.

Furthermore, https://github.com/webpack-contrib/cache-loader/commit/f24f723 tells to not trust file mtime.

Should we relly on file content hash instead ?

[2018-05-23 10:46] evilebottnawi commented on #34
@jdeniau need tests mtime vs md4 from hash content. PR welcome :+1:

[2018-05-28 21:15] evilebottnawi opened #35 "Should use `fs` from `compiler` not real `fs`"
To allow caching in `memory-fs`

[2018-06-20 22:20] #8 closed

[2018-07-03 22:04] gdborton opened #36 "Absolute paths in cache."
Hello!

We've been continuing to tune our build performance, and are happy to see that cache-loader seems to perform slightly better than babel-loader's cache (and are definitely happy to see that it applies to other loaders as well).

We're seeing an issue with it though in that it stores absolute paths in the cache files, which means that the cache cannot be shared across our build workers.  I w

[2018-07-04 10:44] evilebottnawi commented on #36
@gdborton feel free to do experiment with this and send PR

[2018-07-09 18:50] gdborton commented on #36
@evilebottnawi PR is open.

[2018-07-19 18:38] amilajack opened #38 "Question: Is cache invalidated when webpack config changes?"

[2018-07-19 19:18] evilebottnawi commented on #38
@amilajack node, it is not required

[2018-07-19 19:25] amilajack commented on #38
Okay. Because I changed my webpack config and noticed that i was still getting the results of the previous config

[2018-08-04 11:01] guylando opened #40 "Doesn't work with mini-css-extract"
If cache-loader cached files in the .cache-loader folder then on following builds mini-css-extract does not extract css files.

[2018-08-04 11:01] evilebottnawi commented on #40
@guylando What? How it is related to `extract`? Please provide reproducible test repo

[2018-08-04 11:36] guylando commented on #40
@evilebottnawi Here the code to reproduce with steps to reproduce in the readme
https://github.com/guylando/WebpackCacheExtractCssBug

[2018-08-04 11:38] evilebottnawi commented on #40
@guylando you use invalid configuration, `cach-loader` should be before `fast-css-loader`

[2018-08-04 11:38] #40 closed

[2018-08-04 11:40] guylando commented on #40
@evilebottnawi I dont understand. The cache-loader appears before fast-css-loader in the array.
Can you please give example of the required fix?

[2018-08-04 11:42] guylando commented on #40
@evilebottnawi  Also would be helpful if you know where can I read the documentation about this

[2018-08-04 12:44] guylando commented on #40
Fixed by changing order between cache-loader and mini-css-extract loader but it kind of ruins the point of caching because mini-css-extract will exctract css each time even if cache is used.

[2018-08-04 12:46] guylando commented on #40
So I still believe cache-loader and mini-css-extract dont work as desired when together.

[2018-08-04 12:55] evilebottnawi commented on #40
@guylando `cache-loader` caching modules, extract css is not create modules and can't works by design

[2018-08-04 13:38] guylando commented on #40
@evilebottnawi mini-css-extract could add caching ability as following: when receiving a module from previous loader, either cache-loader or css loader, then to hash the result in a way that can be compared for future builds. Similar to how other plugins implemented caching. Unless mini-css-extract actions are neglible time-wise, this will create a major performance improvement for mini-css-extrac

[2018-08-04 13:40] evilebottnawi commented on #40
@guylando PR welcome

[2018-08-28 17:09] fzxt commented on #11
@tarjei Did you find that these plugins actually help with speeding up `karma-webpack` for your case?

[2018-09-18 19:04] LukeSheard commented on #34
Maybe this could be slightly more generic, can supply a custom compare function for the comparison callback?

[2018-10-15 17:41] luislobo commented on #34
:+1: for the PR made by @LukeSheard

[2018-10-30 16:24] llaszkie opened #43 "Exception: Cannot read property 'stat' of undefined"
1. Latest version: **1.2.3**
1. Works fine if downgraded to 1.2.2 (via explicit dev-dependency)
1. The error occurs during **vue-service-cli build** for a project

Please check the declaration of module dependency.

[code]

[2018-10-30 16:37] evilebottnawi commented on #43
@llaszkie can you create minimum reproducible test repo? Looks not all `fs` have `stat` method

[2018-10-30 16:54] sodatea commented on #43
@evilebottnawi See https://github.com/vuejs/vue-cli/issues/2847
The missing of `this.fs` is caused by `thread-loader` if i'm not mistaken.

[2018-10-30 17:02] evilebottnawi commented on #43
@sodatea strange, feel free to investigate and send a PR with fix, really very strange

[2018-10-30 17:45] itmayziii commented on #43
Experienced this issue with the @Vue/cli when creating a new project and trying to build

[2018-10-30 17:55] harishdurga commented on #43
yes i also have the same issue while trying to run build for the project

[2018-10-30 17:55] Mitscherlich commented on #43
I think the `this.fs.stat` here should be `fs.stat`:

https://github.com/webpack-contrib/cache-loader/blob/91d2a1856748f0494971057efe114db35ddb1a28/src/index.js#L43-L47

I came across this problem when I build my app on travis CI. Since I didn't push yarn lock file, which reference to cache-loader `1.2.2`. And that's why my local test passed.

[2018-10-30 17:57] evilebottnawi commented on #43
Please don't spam `i also have the same issue`, just use :+1: or better send a PR with fix

[2018-10-30 18:06] evilebottnawi commented on #43
Somebody can create minimum reproducible test repo?

[2018-10-30 20:20] gusvargas commented on #43
This will be resolved by by https://github.com/webpack-contrib/cache-loader/pull/45

But I wonder if this is actually a bug in the `thread-loader` instead, either in the code or in the documentation.

[this.fs](https://github.com/webpack-contrib/cache-loader/pull/45) is [clearly documented in the loader API](https://webpack.js.org/api/loaders/#this-fs). It seems like an odd precedent to set that e

[2018-10-31 04:36] #27 closed

[2018-10-31 04:37] #35 closed

[2018-10-31 04:40] michael-ciniawsky commented on #38
If you change the config of one of the loaders in the loaders chain where the `cache-loader` is applied you need to manually purge the cache for that `cache-loader` invocation

[2018-10-31 04:40] #38 closed

[2018-10-31 04:49] michael-ciniawsky commented on #43
Fixed by #45. Released in [`v1.2.4`](https://github.com/webpack-contrib/cache-loader/releases/tag/v1.2.4) 🎉

[2018-10-31 04:49] #43 closed

[2018-10-31 08:02] neove opened #46 "bug report of 1.2.4"
![3d7b6a589c2da27f9dd2b87a3aa02c98](https://user-images.githubusercontent.com/18530075/47773816-46bbab00-dd26-11e8-8f2c-bcbc9f3cfa69.jpg)

[2018-10-31 08:05] neove commented on #46
when i update cache-loader from 1.2.2 to 1.2.4， i have this error

[2018-10-31 08:07] valera33 commented on #46
+1, same here

[2018-10-31 08:09] mihiic commented on #46
Doesn't work as part of the angular build as well:
[code]

Explicitly stating version in package.json to 1.2.2 fixes the problem.

[2018-10-31 08:13] valera33 commented on #46
@mihiic yep, I did the same

[2018-10-31 08:18] zzzJH commented on #46
same here

[2018-10-31 08:20] whxaxes commented on #46
same here !!!

[2018-10-31 08:30] michael-ciniawsky commented on #46
Please try

**`node_modules/cache-loader/index.js`**
[code]

[2018-10-31 08:58] whxaxes commented on #46
@michael-ciniawsky  see https://github.com/webpack-contrib/cache-loader/commit/b84d13e#r31116413

[2018-10-31 09:37] patriceo commented on #46
Hello, having the same here, breaking my angular project build :

`ERROR in ./node_modules/core-js/es6/symbol.js
Module build failed: TypeError: Cannot read property '_statSync' of undefined
    at stat (/home/circleci/wfo/wfo-web-client/node_modules/@ngtools/webpack/src/virtual_file_system_decorator.js:26:29)
    at toDepDetails (/home/circleci/wfo/wfo-web-client/node_modules/cache-loader/dist/in

[2018-10-31 09:39] kartheininger commented on #46
@patriceo :
If you need to fix it fast, add `"cache-loader": "1.2.2",` to your `package.json`
If you have time, let the guys here release a new version (1.2.4 or 1.2.5 i guess). This will get fetched automatically, because in webpack there is a dependency to `"cache-loader": "^1.2.0"`

[2018-10-31 09:40] patriceo commented on #46
Thanks that's exactly what I did, looking forward to seeing a new version.

[2018-10-31 09:52] michael-ciniawsky commented on #46
Fixed by #47

Released in [`v1.2.5`](https://github.com/webpack-contrib/cache-loader/releases/tag/v1.2.5)

[2018-10-31 09:52] #46 closed

[2018-10-31 20:29] GalmWing opened #48 "custom write and read are much slower than the default"
I was trying to speed up the cache read/write, so I decided to store stuff in memory with node-cache, instead of in the filesystem (default behavior).

To my surprise, the build time is slower with in-memory cache than with filesystem, it's so slow even a build without cache-loader is faster.

node-cache has pretty much the same function signatures as the example provided in the docs here for Redi

[2018-11-01 09:49] evilebottnawi commented on #48
Looks custom cache is more slow than original, what is problem?

[2018-11-02 05:43] GalmWing commented on #48
The custom cache shouldn't be that slow. node-cache by itself (the module I'm using to cache in-memory) is very fast, and I'm not adding any overhead, cache-loader does also a json serialization with the default options. So I don't see why my custom read and write methods would make cache-loader be this slow

[2018-11-02 09:47] evilebottnawi commented on #48
@GalmWing Feel free to investigate what is problem, should be not difficult

[2018-12-06 10:49] LeeSwagger commented on #17
@xxssww0258 it seems, that cache-loader emits only changed files.

I try to change svg-icon in sources, and it was successfully generated after build.

This statement applies to other file types (e.g. html generated from pug).

[2018-12-06 18:20] Cleecanth commented on #30
I believe you can just use:
[code]

[2018-12-07 11:20] #17 closed

[2018-12-18 14:51] mistic commented on #36
@evilebottnawi we can close this after merging https://github.com/webpack-contrib/cache-loader/pull/49

[2018-12-18 14:56] #36 closed

[2019-01-01 16:45] JabirTuri opened #56 "Module build failed: TypeError: Cannot read property 'async' of undefined at react-app-dashboard/node_modules/babel-loader/lib/index.js:50:27"
Uing [nwb](https://github.com/insin/nwb) for creating library, so here I want to use webpack and babel for some additional packaging functionality.

//package.json
{
  "name": "react-app-dashboard",
  "version": "1.0.0",
  "description": "Describe react-app-dashboard here",
  "private": true,
  "scripts": {
    "build": "nwb build-react-app",
    "clean": "nwb clean-app",
    "start": "nwb serve-r

[2019-01-04 12:53] evilebottnawi commented on #56
It looks like you just deleted our lovely crafted issue template. It was there for good reasons. Please help us solving your issue by answering the questions asked in this template. I'm closing this. Please either update the issue with the template and reopen, or open a new issue.

[2019-01-04 12:53] #56 closed

[2019-01-12 10:33] manniL commented on #33
@jimmyyao88 what was the solution? :thinking:

[2019-03-01 15:09] bencoveney commented on #34
My diagnosis might not be correct, but I think this problem is impacting us as well. We have some custom loaders in our project written in TypeScript. When we run a build, we compile the TypeScript to JavaScript before running webpack - giving the custom loaders a new mtime. The loaders are added as dependencies by `cache-loader`, thus we can never get cached content.

Any chance the PR from @Luke

[2019-03-05 14:36] stevenvachon opened #62 "Change default cache directory"
* Operating System: macOS 10.14.3
* Node Version: 10.15.2
* NPM Version: 6.4.1
* webpack Version: 4.29.5
* cache-loader Version: 2.0.1

### Feature Proposal
Instead of `./cache-loader`, it should be `./node_modules/.cache/cache-loader`

### Feature Use Case
Consistent with other loaders and to avoid a specific gitignore.

[2019-03-05 14:36] evilebottnawi commented on #62
Yep, feel free to send a PR

[2019-03-07 16:27] stevenvachon opened #63 "Should source maps be cached?"
I'm trying to help debug an [issue](https://github.com/webpack-contrib/karma-webpack/issues/399) with using Webpack and Karma together. I'm thinking that it could be resolved if each cached module contained its inline source map (when `devtool` is "inline-source-map") to prevent Webpack from having to reevaluate. Would this make sense for cache-loader?

[2019-03-17 04:30] jintoppy commented on #12
I think this is still valid. If the cache-loader to take effect, shouldn't this be added on the right rather than at the left most? How that will work?

[2019-03-27 03:39] prograhammer commented on #30
What exactly does the `cacheIdentifier` do?  The documentation isn't clear.

[2019-03-28 03:37] jerryOnlyZRJ commented on #40
There is a hack for this issue:

You can put your cache-loader behind your mini-css-extract-plugin, like this:

[code]

It seems to work well.

[2019-03-28 18:56] guylando commented on #40
@jerryOnlyZRJ Read this: https://github.com/webpack-contrib/cache-loader/issues/40#issuecomment-410447054

[2019-04-16 10:16] #62 closed

[2019-04-17 10:02] malash opened #68 "Should cache-loader use `module.exports.raw = true` to handle binary file ?"
* Operating System: MacOS
* Node Version: 11.0.0
* NPM Version: 6.9.0
* webpack Version: 4.30.0
* cache-loader Version: 2.0.1

### Expected Behavior

[code]

[code]

In this case. The `.png` is broken because `cache-loader` is not a [raw loader](https://webpack.js.org/api/loaders/#raw-loader). Which means the `source` is an UTF-8 `string` instead of `Buffer`. The binary data will be broken during

[2019-04-17 11:30] evilebottnawi commented on #68
/cc @mistic I think we can fix it :smile:

[2019-04-17 16:00] mistic commented on #68
@malash thanks for the report! Do you think you can provide a small example repo where I can reproduce the error and play with a solution?

[2019-04-17 18:38] mistic commented on #68
@malash could you try with that PR https://github.com/webpack-contrib/cache-loader/pull/69 if it fixes your issue?

[2019-04-18 02:59] malash commented on #68
Thanks @mistic .

I'v testes the `export const raw = true` and it works for my case.

1. Should we handle buffer stringify manually ? `JSON.stringify` would convert buffer to object but `JSON.parse` won't restore it.

![image](https://user-images.githubusercontent.com/1812118/56333959-f3042780-61c8-11e9-94c9-8eaa3a468216.png)

2. Should we encode the buffer before writing cache file to reduce the

[2019-04-18 15:47] jsonUK opened #70 "Using relative paths - sources still contains absolute paths"
* Operating System: OSX 10.14.4
* Node Version: v11.12.0
* NPM Version: 6.7.0
* webpack Version: 4.28.4
* cache-loader Version: 2.0.1

Hi,

I know the relative paths has been a fairly recent feature addition (thank you!)... but I noticed that the cache contents still contain absolute paths.

[code]

This sets the correct relative paths in the cache details, but then I see things like this inside t

[2019-04-18 15:52] evilebottnawi commented on #70
Please use issue template otherwise issue was closed, thanks

[2019-04-18 16:11] jsonUK commented on #70
Updated previous post with new template as requested.

[2019-04-19 03:31] mistic commented on #68
@malash thanks for the suggestions. I've fixed the JSON.stringify & JSON.parse problems and buffers are also now encoded in base64. You can test it with the last changes on https://github.com/webpack-contrib/cache-loader/pull/69

[2019-04-19 04:30] malash commented on #68
Cool. Great work.

[2019-04-19 15:06] #68 closed

[2019-04-19 15:25] mistic commented on #70
@jsonUK could please verify if the absolute paths you have are coming from source-maps? Maybe we can just disable and delete the cache to understand if the new generated cache still have absolute paths. If the problem is from source-maps, you can configure webpack to only have relative paths within the sourcemaps:

[code]

Do you have any other idea here @evilebottnawi ?

[2019-04-19 15:31] mistic commented on #63
@stevenvachon could it be related to https://github.com/webpack-contrib/cache-loader/issues/70 ?

[2019-04-27 14:43] kelly-tock opened #72 "usage with eslint-loader, warnings/errors are swallowed after successful compilation"
* Operating System: OS X
* Node Version: 11.12.0
* NPM Version: 6.7.0
* webpack Version: 4.30.0
* cache-loader Version: 3.0.0

### Expected Behavior

with eslint-loader set up to not fail on errors/warnings, and if cache loader is used with babel-loader, warnings/errors should show up consistently.
- on initial startup, should see errors/warnings
- after stopping, then starting again, should see t

[2019-04-29 09:58] evilebottnawi commented on #72
/cc @mistic

[2019-04-30 09:19] jsonUK commented on #70
Hi - sorry for not getting back sooner.

I had a test of what you sent me - the above snippet made no difference to the cache output.

But I noticed that if I disable `devtool: 'source-map'`, the source map data no longer appeared.

Not sure if cache-loader should be accommodating that output?

Would toggling on/off source-map data between `development` and `production` modes affect cache-loaders

[2019-05-24 07:15] a-x- opened #76 "Can you describe when user should invalidate cache/setup custom cache dir, identity etc?"
e.g. should user reset cache when webpack or other build-lib's config/version changed?

Can you add explanation to readme?

[2019-05-24 10:27] evilebottnawi commented on #76
@a-x- what do you mean `should invalidate cache`? Loader invalidate cache self

[2019-05-24 17:11] a-x- commented on #76
I have to disable loader when I change some webpack config or install some new webpack plugins/loaders.

e.g. i changed file-loader settings and it had not effected until I commented 'cache-loader'  out

[2019-05-31 19:07] stavalfi commented on #70
I wrote a loader to convert all abs paths to relative but i would use it as a last result because it will increase the build time...

https://github.com/stavalfi/babel-plugin-module-resolver-loader

[2019-06-11 10:26] ValeryVS opened #82 "using with file-loader, files are not builded if in cache, even if dist folder is empty"
- Operating System: ubuntu 16.04
- Node Version: 6.14.3
- NPM Version: 3.10.10
- webpack Version: 4
- cache-loader Version: 3.0.1

### Expected Behavior

`file-loader` outputs all to assets folder.
`cache-loader` used with `file-loader`.
While using with `file-loader`, if output directory does not content assets folder — get those files from cache and put in assets folder.

### Actual Behavior

We

[2019-06-11 10:39] evilebottnawi commented on #82
You don't need `cache-loader` on `file-loader`, why you do this?

[2019-06-25 19:01] mistic opened #86 "Use relative path on this.fs.stat returns stale metadata"
- Operating System: macOS 10.14.5
- Node Version: 10.15.2
- NPM Version: 6.9.0
- webpack Version: 4.23.1
- cache-loader Version: 4.0.0

### Expected Behavior

When using `cache-loader` configured with `cacheContext` under a webpack in `watch` and running a development configuration, it was expected to have the final bundles always in sync with the changed source files.

### Actual Behavior

In the

[2019-08-12 14:22] tomasz-sodzawiczny opened #91 "Control `cacheDirectory` with env variable"
### Feature Proposal

Add an option to control the `cacheDirectory` with an env variable (e.g. `CACHE_LOADER_CACHE_DIR`).

### Feature Use Case

Useful for keeping the default for local dev environment and controlling the value on CI/CD.

The `cacheDirectory`option should still take precedence if specified.

[2019-08-12 14:23] tomasz-sodzawiczny commented on #91
Implementation proposal in https://github.com/webpack-contrib/cache-loader/pull/92

[2019-09-05 16:03] barberdt commented on #72
Repro case provided here: https://github.com/webpack-contrib/eslint-loader/issues/267#issuecomment-528438238.

As mentioned in that comment, not sure which package this issue truly belongs to. Happy to provide the repro information wherever needed.

Thanks for any and all support on this!

[2019-09-05 16:17] evilebottnawi commented on #72
You don't need cache-loader for eslint-loader, use preLoader for eslint-loader

[2019-09-05 16:29] barberdt commented on #72
@evilebottnawi no, but we need `cache-loader` for other reasons. The repro repository provided is as bare-bones as necessary to reproduce the issue. In our private corporate repository, we are using `cache-loader` (among many other dependencies) for a variety of other reasons.

[2019-09-18 06:08] brandonkal opened #94 "invalidate with cache"
- Operating System: MacOS
- Node Version: 10
- NPM Version: 6
- webpack Version: 4
- cache-loader Version: latest

### Feature Proposal

Serialize `this.loaders` options to invalidate cache when things change.
The remaining request looks like this:
[code]
It is not clear if those refs change when loader options change.

### Feature Use Case

As far as I can tell, cache-loader does not account for

[2019-09-23 10:42] evilebottnawi commented on #94
Can you create minimum reproducible test repo?

[2019-11-24 23:05] EECOLOR commented on #82
I encountered the same problem with this config:

[code]

The comment from @evilebottnawi helped me to realize it should be this:

[code]

@evilebottnawi It might a good idea to mention in the readme that it should not be placed before any loader that has side effects like `emitFile`.

[2019-11-24 23:07] EECOLOR commented on #91
Why not just do the following in your webpack config?

[code]

[2019-12-20 01:05] developdeez opened #95 "Cache TTL to assests"
I would like to set my Cache TTL for my assests to 1 year by recommendation from Google PageInsights.
But I dont see in the docs where to do this. Im using webpack on my react client.

[2020-02-23 22:43] Rush commented on #82
It's needed if you have expensive plugins for optimizing images or other assets.

[2020-03-01 20:49] strarsis opened #99 "No files emitted with responsive-loader"
- Operating System: WSL 1 (Bash on Windows)
- Node Version: v8.14.0
- NPM Version: 6.14.1
- webpack Version: 3.10.0
- cache-loader Version: 4.1.0

### Expected Behavior
Image files emitted by the [`responsive-loader`](https://github.com/herrstucki/responsive-loader) should correctly cached or at least be written to disk.

### Actual Behavior
All image files emitted by the [`responsive-loader`](htt

[2020-03-11 14:05] sibelius opened #100 "memory leak when using different splitchunks optimizations options"
- Operating System: MacOsX
- Node Version: 12.4.0
- NPM Version: 6.14.2
- webpack Version: 4.42.0
- cache-loader Version: 4.1.0

### Expected Behavior

it should not cause memory leak

### Actual Behavior

it causes memory leak

### Code

cache-loader babel-loader usage
[code]

one optimization option that causes memory leak
[code]

another optimization option that causes memory leak (create 1 chu

[2020-03-11 14:08] sibelius commented on #34
is this fixed?

[2020-03-11 14:11] evilebottnawi commented on #34
@sibelius no, `cache-loader` is low priority due webpack@5 will have built-in cache, anyway if you want to fix something PR welcome

[2020-03-11 23:12] jdeniau commented on #34
For the record, I do not use `cache-loader` anymore, as webpack does a fine job now like @evilebottnawi said.

[2020-04-27 14:58] evilebottnawi commented on #100
Can't reproduce, problem still exists?

[2020-04-27 15:01] sibelius commented on #100
I will reopen when I got a better repro

[2020-04-27 15:01] #100 closed

[2020-04-27 15:05] evilebottnawi commented on #91
Implemented in `find-cache-dir`

[2020-04-27 15:05] #91 closed

[2020-04-27 15:06] evilebottnawi commented on #99
Problem still exists? Can you create reproducible test repo?

[2020-04-27 15:07] evilebottnawi commented on #95
You don't need it, loader doesn't response for `ttl` cache header

[2020-04-27 15:07] #95 closed

[2020-04-27 15:07] evilebottnawi commented on #94
Closing due to inactivity. Please test with latest version and feel free to reopen if still regressions. Thanks!

[2020-04-27 15:08] evilebottnawi commented on #94
Sorry, yes we should fix a bug

[2020-04-27 15:13] strarsis commented on #99
@evilebottnawi: Issue still exists, I can try to create a simplified, reproducible test case for this.

[2020-04-27 15:31] evilebottnawi commented on #100
@sibelius Feel free to ping me

[2020-04-27 15:32] evilebottnawi commented on #99
@strarsis will be great :+1:

[2020-05-08 03:39] fxxjdedd opened #103 "optimize cache-loader performance"
https://github.com/webpack-contrib/cache-loader/blob/4e0e3aec22f10156acc15d0241b575061ca150a8/src/index.js#L201

Need a local cache here? Because contextDep.path is mostly the same file.

[2020-06-12 19:14] rvillalba-novetta commented on #72
I'm seeing similar issues with ts-loader. On first run I have errors reported, on second run it just reports success and grabs what's in the cache.

[2020-06-26 20:38] scottrippey commented on #34
I attempted to workaround this by comparing based on `ctime`, but unfortunately only `mtime` is stored in the cache.

So ultimately, I went with the approach recommended in webpack's docs: use a `postinstall` hook to remove the `node_modules/.cache/cache-loader` folder.

 https://webpack.js.org/guides/build-performance/#persistent-cache

[2020-10-12 09:57] fwh1990 opened #111 "Should I remove cache-loader in webpack5"
I notice that webpack has cache system itself, so I'm not sure whether keeping use cache-laoder or not.

[2020-10-12 10:37] evilebottnawi commented on #111
Yes

[2020-10-12 10:37] #111 closed

[2020-10-27 07:46] Akiq2016 commented on #82
https://github.com/Akiq2016/test-cache-loader
here is my minimum reproducible test repo

[2020-10-27 07:50] Akiq2016 opened #112 "file do not emit at the first build when using cache-loader with file-loader"
same question as https://github.com/webpack-contrib/cache-loader/issues/82

- Operating System: macOS 10.15.6
- Node Version: v12.18.3
- NPM Version: 6.14.6
- webpack Version: 5.2.0
- webpack-cli Version: 4.1.0
- cache-loader Version: 4.1.0

### How Do We Reproduce?

demo: https://github.com/Akiq2016/test-cache-loader

[2020-10-27 11:56] evilebottnawi commented on #112
Don't use this loader for webpack@5 , please migrate https://webpack.js.org/configuration/other-options/#cache, time to deprecated this loader

[2020-10-27 11:56] #112 closed, assigned to nobody

[2020-10-27 11:59] evilebottnawi commented on #82
Please migrate on https://webpack.js.org/configuration/other-options/#cache